<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Secure Page</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

    <div th:replace="base :: navlinks"></div>

    <h2>Secure Page</h2>

    <div>Welcome [[${user.firstName}]]!</div>
    <form>
        <br>
        <br>
        <h1>Messages</h1>
        <table class="table table-borderless">



            <!--<div th:replace="base :: nav"></div>-->

            <!--<div class="container">-->
            <thead></thead>
            <tbody>

            <tr th:each="message:${messages}">
                <!--<th scope="row"></th>-->

                    <td><b>[[${message.title}]]</b><br/>
                        <i>[[${message.postedBy}]]</i> | [[${message.postedDate}]]<br/>
                        [[${message.content}]]<br/>
                    </td>
                <div class="nav-item" sec:authorize="hasAuthority('USER')">
                    <td>
                        <a th:href="@{/view/{id} (id=${message.id})}" class="text-white">View</a>
                <span th:if="${user_id == message.user.id}">
                    <a th:href="@{/update/{id} (id=${message.id})}" class="text-white">Update</a>
                    <a th:href="@{/delete/{id} (id=${message.id})}" class="text-white">Delete</a>
                </span>

                </div>
                <div class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/update/{id} (id=${message.id})}"
                       class="text-white">Update</a>
                    <a th:href="@{/view/{id} (id=${message.id})}" class="text-white">View</a>
                    <a th:href="@{/delete/{id} (id=${message.id})}"
                       class="text-white">Delete</a>
                </div>


                </td>

            </tr>

            </tbody>

        </table>
    </form>
    <div sec:authorize="hasAuthority('ADMIN')">
        Administrators will see this text.
    </div>

    <div sec:authorize="hasAuthority('USER')">
        Users will see this text.
    </div>

</body>
</html>
